

#game
{
width: 300px;
height: 300px;
position: relative;
margin: auto;
padding: 2em;
}

#blue, #red, #green, #yellow
{
position: absolute;
}

#red
{
top: 40px;
left: 60px;
}

#yellow
{
top: 150px;
left: 60px;
}

#green
{
top: 150px;
left: 200px;
}

#blue
{
top: 40px;
left: 200px;
}