*
{
				padding: 0;
				margin: 0;
				border: 0;
}

body
{
				font-family: arial;
				color: black;
                width: 800px;
                margin: auto;
                text-align: center;
}

#header
{
margin-left: -10000px;
}

#navigation
{
width: 800px;
height: 35px;
position: relative;
}

#work, #us, #play
{
position: absolute;
top: 0px;
}

#work
{
left: 10px;
}

#play
{
right: 10px;
}

#us
{
left: 380px;
}

#content
{
				margin: auto;
				width: 800px;
				color: black;
}

a
{
				color: black;	
}

#mission_statement
{
				padding: 2em;
}

#snippets
{
  position: relative;
				padding: 2em;
}

#work_snippet, #us_snippet, #play_snippet
{
				position: absolute;
				width: 200px;
				top: 0px;
}

#work_snippet
{
				left: 0px;
}

#us_snippet
{
				left: 300px;
}

#play_snippet
{
				left: 600px;
}

.projects
{
list-style-type: none;
}


#profiles
{
width: 800px;
height: 600px;
}

#peter
{
padding: 1em;
width: 350px;
height: 500px;
text-align: left;
float: left;
}

#laura
{
padding: 1em;
width: 350px;
height: 500px;
text-align: left;
float: right;
}

#laura_image
{
height: 150px;
outline: 1px solid black;
margin-left: 60px;
}