*
{
				padding: 0;
				margin: 0;
				border: 0;
}

body
{
				font-family: arial;
				background-color: #dbc6af;
				color: black;
                width: 800px;
                margin: auto;
                text-align: center;
}

#header
{
margin-left: -10000px;
}

#navigation
{
width: 600px;
height: 70px;
margin: auto;
margin-top: 1em;
position: relative;
}

#footer
{
width: 600px;
margin: auto;
position: relative;
background-image: url("/media/images/footer.png");
}

#email, #phone_number, #copyright
{
position: absolute;
top: 0px;
}

#phone_number
{
left: 240px;
}

#copyright
{
right: 0px;
}

#index
{
width: 620px;
height: 400px;
position: relative;
}

#work, #us, #play
{
position: absolute;
top: 0px;
}

#work
{
left: 0px;
}

#us
{
left: 200px;
}

#play
{
right: 0px;
}

#content
{
				background-color: white;
                border: 2px solid black;
				margin: auto;
				margin-top: 1em;
				width: 640px;
				color: black;
}

a:link, a:visited, a:hover, a:active
{
				text-decoration: none;
  color: black;
}

#mission_statement
{
				padding: 2em;
}

#snippets
{
  position: relative;
				padding: 2em;
}

#work_snippet, #us_snippet, #play_snippet
{
				position: absolute;
				width: 150px;
				top: 0px;
}

#work_snippet
{
				left: 20px;
}

#us_snippet
{
				left: 220px;
}

#play_snippet
{
				left: 420px;
}

#scrum_intro
{
margin: 2em;
}

#cycle
{
margin-top: 2em;
margin-bottom: 2em;
position: relative;
width: 640px;
height: 400px;
}

#initial_conversation, #sprint_cycle, #approval_cycle
{
outline: 1px solid black;
width: 200px;
position: absolute;
}

#initial_conversation
{
top: 0px;
left: 220px;
}

#arrow_top
{
position: absolute;
top: 90px;
left: 300px;
}

#sprint_cycle
{
left: 220px;
top: 150px;
}

#arrow_right
{
position: absolute;
top: 160px;
left: 70px;
}

#arrow_left
{
position: absolute;
top: 190px;
right: 70px;
}

#approval_cycle
{
left: 220px;
bottom: 0px;
}

#project_form
{
width: 400px;
height: 220px;
margin: auto;
text-align: left;
position: relative;
}

#project_form label
{
float: left;
margin-right: 10px;
width: 80px;
}

#project_form input
{
outline: 1px solid black;
}

#project_form textarea
{
outline: 1px solid black;
width: 280px;
}

#project_submit
{
right: 170px;
bottom: 10px;
position: absolute;;
text-align: center;
}

#project_confirmation
{
height: 200px;
margin-top: 50px;
}

#workflow_explanation
{
padding: 1em;
font-size: 0.8em;
margin-right: 20px;
}

#workflow_cycle
{
margin: auto;
margin-top: 2em;
position: relative;
font-size: 0.8em;
width: 430px;
height: 500px;
}

.cycle_item
{
width: 100px;
position: absolute;
outline: 1px solid black;
background-color: white;
}

#workflow_right_arrow_1
{
left: 105px;
top: 0px;
}

#transformation
{
top: 0px;
left: 165px;
}

#workflow_right_arrow_2
{
left: 270px;
top: 0px;
}

#initial_sprint
{
top: 0px;
left: 330px;
}

.workflow_arrow
{
position: absolute;
}

#workflow_top_arrow_2
{
left: 360px;
top: 80px;
}

#assign_sprint_tasks
{
top: 140px;
left: 330px;
}

#workflow_left_arrow_1
{
top: 145px;
left: 268px;
}

#write_tests
{
top: 140px;
left: 165px;
}

#workflow_left_arrow_2
{
top: 145px;
left: 103px;
}

#write_code
{
top: 140px;
}

#workflow_top_arrow_1
{
top: 220px;
left: 25px;
}

#update_burndown
{
left: 0px;
top: 280px;
}

#workflow_top_arrow_3
{
top: 350px;
left: 25px;
}

#present_stories
{
left: 0px;
top: 410px;
}

#workflow_right_arrow_3
{
left: 104px;
top: 415px;
}

#story_approval
{
left: 165px;
top: 425px;
}

#workflow_right_arrow_4
{
left: 270px;
top: 415px;
}

#get_paid
{
left: 330px;
top: 415px;
}

#workflow_up_arrow_1
{
outline: 1px solid red;
}

#design_next_sprint
{
left: 330px;
top: 280px;
}

#workflow_up_arrow_2
{
outline: 1px solid red;
}

.projects
{
list-style-type: none;
}


#profiles
{
width: 640px;
height: 600px;
}

#peter
{
padding: 1em;
width: 270px;
height: 500px;
text-align: left;
float: left;
}

#laura
{
padding: 1em;
width: 270px;
margin-right: 20px;
height: 500px;
text-align: left;
float: right;
}

#laura_image
{
height: 150px;
outline: 1px solid black;
margin-left: 60px;
}

#game
{
position: relative;
width: 640px;
height: 400px;
}