{% extends "base.html" %}

{% block content %}

<div class="portfolio_image grid_2 prefix_2">
  <img src="/media/images/alice.gif" alt="alice" />
</div>
<div id="portfolio" class="grid_4">
  <h2>Alice's Description</h2>
  <p>Alice is a testing device used in all EML' websites.  She checks every part of the website to make sure it is completely functional.  With her functions, such as clicking a link, filling out a form, or seeing an element, she ensures that every part of your website works perfectly so that there are no surprises once your website is released.</p>
<a href="/us/">Back</a>
</div>

{% endblock %}
