<!DOCTYPE html PUBLIC "-//W3C//DTD/ XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/html">
  {% load common_tags %}
  <head>
    <title>EMLPrime</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-859-1" />

    <!-- 960 css -->
    <link rel="stylesheet" type="text/css" href="/media/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/media/css/text.css" />
    <link rel="stylesheet" type="text/css" href="/media/css/960.css" />
<style type="text/css" media="all">

div, h1 {
  outline: 1px dashed green;
}
.container_16
{
	background: #fff url("/media/images/16_col.gif") repeat-y;
	margin-bottom: 20px;
height: 400px;
}

h1 {
    text-align: center;
}

</style>

{% comment %}
    <link rel="stylesheet" type="text/css" href="/media/css/site.css" />
    <link rel="stylesheet" type="text/css" href="/media/css/play.css" />
    <script type="text/javascript" src="/media/scripts/jquery-1.2.3.min.js"></script>
    <script type="text/javascript" src="/media/scripts/play.js"></script>
{% endcomment %}
    
  </head>
  <body>
    <div class="container_16">
      
    <div class="grid_2">&nbsp;</div>
    <h1 id="logo" class="grid_12">
      <a href="/"><img src="/media/images/logo.png" alt="EMLPrime" /></a>
    </h1>

    <div class="clear">&nbsp;</div>

    <div id="container" class="grid_16">
    {% block left_navigation %}
    <div class="grid_2 prefix_1 navigation left alpha">
            left navigation
    </div>
    {% endblock %}
    <div id="content" class="grid_10">
      {% block content %}
      BLOCK CONTENT
      {% endblock %}
    </div>
    {% block right_navigation %}
    <div class="grid_2 suffix_1 navigation right omega">
      right navigation
    </div>
    {% endblock %}
    </div>
    {% comment %}
    <div id="navigation">
      <div id="work">{% ifequal current_url "/work/" %}<img src="/media/images/work.png" alt="Work" />{% else %}<a href="/work/"><img src="/media/images/work.png" alt="Work" /></a>{% endifequal %}</div>
      <div id="us">{% ifequal current_url "/us/" %}<img src="/media/images/us.png" alt="Us" />{% else %}<a href="/us/"><img src="/media/images/us.png" alt="Us" /></a>{% endifequal %}</div>
      <div id="play">{% ifequal current_url "/play/" %}<img src="/media/images/play.png" alt="Play" />{% else %}<a href="/play/"><img src="/media/images/play.png" alt="Play" /></a>{% endifequal %}</div>
    </div>
    
    {% footer %}
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      var pageTracker = _gat._getTracker("UA-88241-1");
      pageTracker._trackPageview();
    </script>
{% endcomment %}
  </body>
</html>
