<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  {% load common_tags %}
  <head>
    <title>EMLPrime</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

    <!-- 960 css -->
    <link rel="stylesheet" type="text/css" href="/media/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/media/css/text.css" />
    <link rel="stylesheet" type="text/css" href="/media/css/960.css" />
    <link rel="icon" type="image/gif" href="/media/images/favicon.gif" />
    <style type="text/css" media="all">

      h1 {
      text-align: center;
      }

    </style>

    <link rel="stylesheet" type="text/css" href="/media/css/site.css" />
    <link rel="stylesheet" type="text/css" href="/media/css/play.css" />
    <script type="text/javascript" src="/media/scripts/jquery-1.2.3.min.js"></script>
    <script type="text/javascript" src="/media/scripts/play.js"></script>
    
  </head>
  <body>
    <div class="container_12">
      
	  <div id="content" class="grid_12">
	    {% block content %} BLOCK CONTENT {% endblock %}
	  </div>

	  <div class="clear">&nbsp;</div>

	  <div id="footer" class="grid_6 prefix_3">
	    {% footer %}
	  </div>

    </div>


    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      var pageTracker = _gat._getTracker("UA-88241-1");
      pageTracker._trackPageview();
    </script>
    
  </body>
</html>
