<!DOCTYPE html PUBLIC "-//W3C//DTD/ XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/html">
  {% load common_tags %}
  <head>
    <title>EMLPrime</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-859-1" />
    <link rel="stylesheet" type="text/css" href="/media/css/site.css" />
    <link rel="stylesheet" type="text/css" href="/media/css/play.css" />
    <script type="text/javascript" src="/media/scripts/jquery-1.2.3.min.js"></script>
    <script type="text/javascript" src="/media/scripts/play.js"></script>
    
  </head>
  <body>
    <a href="/">
      <div id="header">
	{% block header %}
	<h1>EML'</h1>
	{% endblock header %}
      </div>
    </a>
    <div id="logo">
      <a href="/"><img src="/media/images/logo.png" alt="EMLPrime" /></a>
    </div>
    <div id="content">
      <div id="navigation">
	
	<p id="work">{% ifequal current_url "/work/" %}<img src="/media/images/work.png" alt="Work" />{% else %}<a href="/work/"><img src="/media/images/work.png" alt="Work" /></a>{% endifequal %}</p>
	<p id="us">{% ifequal current_url "/us/" %}<img src="/media/images/us.png" alt="Us" />{% else %}<a href="/us/"><img src="/media/images/us.png" alt="Us" /></a>{% endifequal %}</p>
	<p id="play">{% ifequal current_url "/play/" %}<img src="/media/images/play.png" alt="Play" />{% else %}<a href="/play/"><img src="/media/images/work.png" alt="Play" /></a>{% endifequal %}</p>
    </div>
    {% block content %}
    {% endblock %}
    {% footer %}
  </div>
</body>
</html>
