{% extends "base.html" %}

{% load markup %}

{% block content %}

<div id="blog_container" class="grid_8 prefix_2">
{% for blog in object_list %}
<div id="blog">
<p>{{blog.date}}<h2>{{ blog.title }}</h2></p>

{% if blog.image_1 %}
<p><img alt=" " src="/media/{{blog.image_1}}" /></p>
{% endif %}

{% if blog.image_2 %}
<p><img alt=" " src="/media/{{blog.image_2}}" /></p>
{% endif %}

{{blog.entry|markdown}}

</div>
{% endfor %}

<p>Older Blog Posts: {% for page in page_range %} <a href="/play/blog/{{page}}/">{{page}}</a> {% endfor %}</p>

</div>

{% endblock %}
