{% extends "base.html" %}

{% block content %}

<div class="grid_8 prefix_2" id="comic">

<h2>{{ comic.title }}</h2>
<img src="/media/{{ comic.comic }}" id="comic_{{ comic.id }}" alt="{{ comic.title }}" />

<div id="left_arrows">
{% if page.has_previous %}
<a href="/play/comic/1/">|&lt;</a>
<a href="/play/comic/{{ page.previous_page_number }}/">&lt;</a>
{% endif %}
</div>
<div id="right_arrows">
{% if page.has_next %}
<a href="/play/comic/{{ page.next_page_number }}/">&gt;</a>
<a href="/play/comic/{{ paginator.num_pages }}/">&gt;|</a>
{% endif %}
</div>
</div>


{% endblock %}
