{% extends "base.html" %}

{% block content %}

<div class="grid_12" id="navigation_logo"
     <div class="grid_1 prefix_2 alpha">
       <a href="/"><img src="/media/images/nav_home.gif" alt=" " /></a>
     </div>
     <div class="grid_1">
       <a href="/work/"><img src="/media/images/nav_work.gif" alt=" " /></a>
     </div>
     <div class="grid_1">
       <a href="/us/"><img src="/media/images/nav_us.gif" alt=" " /></a>
     </div>
     <div class="grid_1">
       <a href="/play/"><img src="/media/images/nav_play.gif" alt=" " /></a>
     </div>
     <div class="grid_6 omega">
       <img src="/media/images/logo.gif" alt=" " />
     </div>
</div>

<div id="comic">
<h2>{{ comic.title }}</h2>
<img src="/media/{{ comic.comic }}" id="comic_{{ comic.id }}" alt="{{ comic.title }}" />

{% if page.has_previous %}
<a href="/play/comic/1/">|&lt;</a>
<a href="/play/comic/{{ page.previous_page_number }}/">&lt;</a>
{% endif %}

{% if page.has_next %}
<a href="/play/comic/{{ page.next_page_number }}/">&gt;</a>
<a href="/play/comic/{{ paginator.num_pages }}/">&gt;|</a>
{% endif %}

</div>


{% endblock %}
