{% extends "base.html" %}
{% block content %}
<div id="index">
  <div id="mission_statement">
    These days, having your own website is like having a phone: everyone needs one.  We delight in helping you create a custom website with all the features you need at a price you can afford.
  </div>
  <div id="snippets">
    <div class="work">
      <p>We use <a href="/work/">scrum project management</a>.</p><p>That means you are an essential part of the creative process.  That also means that you are guaranteed a working website at the end of each development cycle, at exactly the price quoted before the work began.</p>
    </div>
    <div class="us">
      <p><a href="/us/">We</a> have two decades of combined experience in building websites.  Every site is hand-coded and thoroughly tested.  You can count on getting exactly the look you want.  We enjoy grafting each new client's story into the final product.</p>
    </div>
    <div class="play">
      <p>While we're working hard to get your website up and running, you can relax and enjoy this <a href="/play/">fun game</a>.</p>
    </div>
  </div>
</div>
{% endblock %}
