{% include "base.html" %}
{% block content %}
<div id="mission_statement">
This is our mission statement.  We like making awesome web applications.
</div>
<div id="snippets">
  <div id="work_snippet">
	We use scrum project management.  Click here to learn more about scrum and how it helps us make better products faster.
  </div>
  <div id="us_snippet">
	We are awesome.  Click here to learn more about us.
  </div>
  <div id="play_snippet">
	We like making fun, addictive games as well.  Try one out.
  </div>
</div>
{% endblock %}
