{% extends "base.html" %}

{% block content %}

<div class="portfolio_image grid_2 prefix_2">
  <img src="/media/images/laura.gif" alt="laura" />
</div>
<div class="portfolio grid_4">
  <h2>Laura's Website Portfolio</h2>
  <ul id="laura_portfolio">
    {% for object in portfolio %}
    <li>
		<h3><a href="{{object.url}}">{{object.name}}</a></h3>
		<a href="{{object.url}}"><img alt=" " src="/media/{{object.image}}" /></a>
	</li>
    {% endfor %}
  </ul>
<a href="/us/">Back</a>
</div>

{% endblock %}
