{% extends "base.html" %}

{% block content %}

<div class="grid_12" id="navigation_logo"
     <div class="grid_1 prefix_2 alpha">
       <a href="/"><img src="/media/images/nav_home.gif" alt=" " /></a>
     </div>
     <div class="grid_1">
       <a href="/work/"><img src="/media/images/nav_work.gif" alt=" " /></a>
     </div>
     <div class="grid_1">
       <a href="/us/"><img src="/media/images/nav_us.gif" alt=" " /></a>
     </div>
     <div class="grid_1">
       <a href="/play/"><img src="/media/images/nav_play.gif" alt=" " /></a>
     </div>
     <div class="grid_6 omega">
       <img src="/media/images/logo.gif" alt=" " />
     </div>
</div>

<div class="clear">&nbsp;</div>

<div class="portfolio_image grid_2 prefix_2">
  <img src="/media/images/peter.gif" alt="peter">
</div>
<div id="portfolio" class="grid_4">
  <h2>Peter's Website Portfolio</h2>
  <ul id="peter_portfolio">
    {% for object in portfolio %}
    <li><a href={{object.url}}><img alt=" " src="/media/{{object.image}}" /><h2>{{object.name}}</h2></a></li>
    {% endfor %}
  </ul>

<a href="/us/">Back</a>
</div>

<div id="portfolio">

</div>

{% endblock %}
