{% extends "base.html" %}

{% block content %}

<div class="portfolio_image grid_2 prefix_2">
  <img src="/media/images/peter.gif" alt="peter" />
</div>

<div class="portfolio grid_6">
  <h2>Peter's Website Portfolio</h2>

  <ul id="peter_portfolio">

    {% for object in portfolio %}
    <li>
		<h3><a href="{{object.url}}">{{object.name}}</a></h3>
		<a href="{{object.url}}"><img alt=" " src="/media/{{object.image}}" /></a>
	</li>
    {% endfor %}

  </ul>

<a href="/us/">Back</a>
</div>

<div id="portfolio">

</div>

{% endblock %}
