{% extends "base.html" %}

{% block content %}
<div id="rules">
<p>The red, green, yellow, and blue lights will light up in a random pattern, starting with just one light and incrementing by one more light each round.  Once the pattern for the round has been presented, click the lights to mimic the pattern that was presented.  If you succeed, you will advance to the next round.  If you complete all 50 rounds, you win!</p>
</div>

<div id="game">
<div id="green"><img src="/media/images/game_green.png" id="green" alt="green" /></div>
<div id="red"><img src="/media/images/game_red.png" id="red" alt="red" /></div>
<div id="blue"><img src="/media/images/game_blue.png" id="blue" alt="blue" /></div>
<div id="yellow"><img src="/media/images/game_yellow.png" id="yellow" alt="yellow" /></div>
</div>
{% endblock %}
