{% extends "base.html" %}

{% block content %}
<div id="game">
<img id="game_background" src="/media/images/game_background.png" alt="game" />
<div id="green"><img src="/media/images/game_green.png" id="green" alt="green" /></div>
<div id="red"><img src="/media/images/game_red.png" id="red" alt="red" /></div>
<div id="blue"><img src="/media/images/game_blue.png" id="blue" alt="blue" /></div>
<div id="yellow"><img src="/media/images/game_yellow.png" id="yellow" alt="yellow" /></div>
</div>
{% endblock %}
