{% extends "work_section.html" %}

{% block content %}

<div class="page grid_10">
<a href="/work/"><img src="/media/images/work_page.png" id="work_page" /></a>
</div>

<div id="project_confirmation">
  <p>Thank you for submitting a project request.  We are very excited to review it!<p>
</div>

<div class="corner grid_2 prefix_7">
<a href="/work/sample_workflow/"><img src="/media/images/scrum_corner.png" id="scrum_corner" /></a>
</div>
<div class="corner grid_2 prefix_7">
<a href="/work/rates/"><img src="/media/images/rates_corner.png" id="rates_corner" /></a>
</div>

{% endblock %}
