{% extends "base.html" %}

{% block content %}


<div class="grid_12" id="navigation_logo"
     <div class="grid_1 prefix_2 alpha">
       <a href="/"><img src="/media/images/nav_home.gif" alt=" " /></a>
     </div>
     <div class="grid_1">
       <a href="/work/"><img src="/media/images/nav_work.gif" alt=" " /></a>
     </div>
     <div class="grid_1">
       <a href="/us/"><img src="/media/images/nav_us.gif" alt=" " /></a>
     </div>
     <div class="grid_1">
       <a href="/play/"><img src="/media/images/nav_play.gif" alt=" " /></a>
     </div>
     <div class="grid_6 omega">
       <img src="/media/images/logo.gif" alt=" " />
     </div>
</div>

<div class="clear">&nbsp;</div>

<p>Our rates can be broken down into three categories: start-up costs, maintenance costs, and coding costs. </p>

<p>We provide all the services necessary for you to launch a new web project.  We offer domain registration, and e-commerce establishment in addition to our programming services.  Domain registration is a flat $50 fee, and the e-commerce link to an existing merchant account is $300.</p>

<p>We also provide full hosting and maintenance services.  Hosting, e-commerce maintenace, https certification, and periodic backups are among the many services we provide for your website.  A full monthly or quarterly cost estimate for your site is available upon request.</p>

<p>Our programming services are available at the cost of $100 per task point.  We assign point values to each task in your project backlog and charge per point - thus ensuring that the project will be completed at the quoted price.</p>
{% endblock %}
