{% extends "work_section.html" %}

{% block content %}

<div class="page grid_10">
<a href="/work/"><img src="/media/images/work_page.png" id="work_page" /></a>
</div>


<p id="workflow_explanation">Here is a detailed breakdown of our scrum project workflow.  If you have a great idea, click 'You have a great idea. You present it to us.' to go back to the form on the work page.  From there, you can submit your idea to us, and we can help you make it happen.</p>
<div id="workflow_cycle">
  <img id="workflow_top_arrow_1" src="/media/images/arrow_top.png" class="workflow_arrow" />
  <img id="workflow_top_arrow_2" src="/media/images/arrow_top.png" class="workflow_arrow" />
  <img id="workflow_top_arrow_3" src="/media/images/arrow_top.png" class="workflow_arrow" />
  <img id="workflow_right_arrow_1" src="/media/images/straight_arrow_right.png" class="workflow_arrow" />
  <img id="workflow_right_arrow_2" src="/media/images/straight_arrow_right.png" class="workflow_arrow" />
  <img id="workflow_right_arrow_3" src="/media/images/straight_arrow_right.png" class="workflow_arrow" />
  <img id="workflow_right_arrow_4" src="/media/images/straight_arrow_right.png" class="workflow_arrow" />
  <img id="workflow_left_arrow_1" src="/media/images/straight_arrow_left.png" class="workflow_arrow" />
  <img id="workflow_left_arrow_2" src="/media/images/straight_arrow_left.png" class="workflow_arrow" />
  <img id="workflow_up_arrow_1" src="/media/images/straight_arrow_up.png" class="workflow_arrow" />
  <img id="workflow_up_arrow_2" src="/media/images/straight_arrow_up.png" class="workflow_arrow" />

  <div id="workflow_initial_stage">
	<a href="/work/">
	  <div id="great_idea" class="cycle_item">
		You have a great idea.  You present it to us.
	  </div>
	</a>
	<div id="transformation" class="cycle_item">
	  We help you transform your idea into stories from the user's perspective.  This is the backlog.
	</div>
	<div id="initial_sprint" class="cycle_item">
	  We help you prioritize the stories and select the first ones for the initial sprint.
	</div>
  </div>
  <div id="workflow_sprint_cycle">
	<div id="assign_sprint_tasks" class="cycle_item">
	  You select the tasks for the sprint.  We assign point values.
	</div>
	<div id="write_tests" class="cycle_item">
	  We write tests to verify that new code is needed for the stories.
	</div>
	<div id="write_code" class="cycle_item">
	  We write fully documented code until the tests pass and the stories are satisfied.
	</div>
	<div id="update_burndown" class="cycle_item">
	  We update the burndown chart daily to show you our progress.
	</div>
	<div id="present_stories" class="cycle_item">
	  When all stories for the sprint pass, we present them to you.
	</div>
  </div>

  <div id="workflow_approval_cycle">
	<div id="story_approval" class="cycle_item">
	  You approve each story.
	</div>
	<div id="get_paid" class="cycle_item">
	  We get paid for the complete sprint.
	</div>
	<div id="design_next_sprint" class="cycle_item">
	  We work with you to desgin the next sprint.
	</div>
  </div>

</div>

<div class="corner grid_2 prefix_7">
<a href="/work/rates/"><img src="/media/images/rates_corner.png" id="rates_corner" /></a>
</div>

{% endblock %}
