{% extends "base.html" %}

{% block content %}

<div class="grid_12" id="navigation_logo">
     <div class="grid_1 prefix_2 alpha">
       <a href="/"><img src="/media/images/nav_home.gif" alt=" " /></a>
     </div>
     <div class="grid_1">
       <a href="/work/"><img src="/media/images/nav_work.gif" alt=" " /></a>
     </div>
     <div class="grid_1">
       <a href="/us/"><img src="/media/images/nav_us.gif" alt=" " /></a>
     </div>
     <div class="grid_1">
       <a href="/play/"><img src="/media/images/nav_play.gif" alt=" " /></a>
     </div>
     <div class="grid_6 omega">
       <img src="/media/images/logo.gif" alt=" " />
     </div>
</div>

<div class="clear">&nbsp;</div>

<div class="grid_10 prefix_2" id="sample_workflow">

  <div class="grid_3"><p>Our project workflow ensures that you receive fully tested and documented code on schedule and on budget.  Here's how it works.</p></div>
  <div class="grid_3"><img src="/media/images/sample_workflow_alice.gif" alt="alice" /></div>
  <div class="grid_3"><p>If you like what you see, click on the lightbulb and fill out the idea form with your name, email, and idea so we can help you with your new project!</p></div>

  <div class="clear">&nbsp;</div>

  <h2>Step One</h2>
  <div class="grid_8 prefix_1">
    <div class="grid_1"><img src="/media/images/sample_workflow_laura.gif" alt="laura" /></div>
    <div class="grid_6"><p></p><p>You have a great idea.  You present it to us.  We help you transform your idea into stories from the user's perspective.  You prioritize those stories and select the top priority stories for the first sprint.</p></div>
  </div>

<div class="clear">&nbsp;</div>

  <h2>Step Two</h2>
  <div class="grid_8 prefix_1">
    <div class="grid_1"><img src="/media/images/sample_workflow_alice_test.gif" alt="alice" /></div>
    <div class="grid_6"><p></p><p>We write tests for the user stories selected for the sprint.  We write fully documented code until the tests pass and the stories are satisfied. We update an online burndown chart daily to show you our progress.</p></div>
  </div>

<div class="clear">&nbsp;</div>

  <h2>Step Three</h2>
  <div class="grid_8 prefix_1">
    <div class="grid_1"><img src="/media/images/sample_workflow_peter.gif" alt="peter" /></div>
    <div class="grid_6"><p></p><p>When all stories for the sprint pass, we present them to you. You approve each story. We get paid for the complete sprint. We work with you to desgin the next sprint.</p></div>
  </div>


</div>



{% endblock %}
