{% extends "base.html" %}

{% block content %}

<div id="profiles">
  <div id="peter" class="grid_2 prefix_3">
    <p class="__str__">__str__: Peter</p>
    <p class="img">img:<img id="peter_image" src="/media/images/peter_headshot.gif" alt=" "  /></p>
    <p class="type">type: human</p>
    <p class="dir">dir: coding, testing, yoga, go</p>
    <p class="doc">doc: The planner and dreamer; sees the big picture.</p>
    <a href="/us/peter/"><p id=".__dict__">.__dict__</p></a>
  </div>

  <div id="laura" class="grid_2">
    <p class="__str__">__str__: Laura</p>
    <p class="img">img:<img id="laura_image" src="/media/images/laura_headshot.gif" alt=" " /></p>
    <p class="type">type: human</p>
    <p class="dir">dir: yoga, running, graphics, coding</p>
    <p class="doc">doc: The compulsive finisher; sees the details.</p>
    <a href="/us/laura/"><p class="dict">.__dict__</p></a>
  </div>

  <div id="alice" class="grid_2">
    <p class="__str__">__str__: Alice</p>
    <p class="img">img:<img id="alice_image" src="/media/images/alice_headshot.gif" alt=" " /></p>
    <p class="type">type: actor</p>
    <p class="dir">dir: testing</p>
    <p class="doc">doc: The best personality of all of us.  Is never, ever wrong.</p>
    <a href="/us/alice/"><p class="dict">.__dict__</p></a>
  </div>
</div>



{% endblock %}
