{% extends "base.html" %}

{% block content %}

<div id="profiles">
  <div id="peter" class="grid_2 prefix_3">
    <p>__str__: Peter</p>
    <p>img:<img id="peter_image" src="/media/images/peter_headshot.gif" alt=" "  /></p>
    <p>type: human</p>
    <p>dir: coding, testing, yoga, go</p>
    <p>doc: The planner and dreamer; sees the big picture.</p>
    <p><a href="/us/peter/">.__dict__</a></p>
  </div>

  <div id="laura" class="grid_2">
    <p>__str__: Laura</p>
    <p>img:<img id="laura_image" src="/media/images/laura_headshot.gif" alt=" " /></p>
    <p>type: human</p>
    <p>dir: yoga, running, graphics, coding</p>
    <p>doc: The compulsive finisher; sees the details.</p>
    <p><a href="/us/laura/">.__dict__</a></p>
  </div>

  <div id="alice" class="grid_2">
    <p>__str__: Alice</p>
    <p>img:<img id="alice_image" src="/media/images/alice_headshot.gif" alt=" " /></p>
    <p>type: actor</p>
    <p>dir: testing</p>
    <p>doc: The best personality of all of us.  Is never, ever wrong.</p>
	<p><a href="/us/alice/">.__dict__</a></p>
  </div>

</div>



{% endblock %}
