{% extends "base.html" %}

{% block content %}
<div id="profiles">
  <div id="peter">
    <div id="mug_shot">
      <img id="peter_image" src="/media/images/peter.jpg" />
    </div>
    <div id="personal_info">
      <p id="name">Name: Peter</p>
      <p id="contact_email">Email: peter@emlprime.com</p>
      <p id="favorite_bribe">Favorite Bribe: Banana Chips</p>
    </div>
    <div id="experience">
      <p id="languages">Languages: Python, HTML, CSS, JavaScript, SQL</p>
      <p id="skills">Skills: Project Management, Application Design, Testing, Templating, Application Programming.</p>
      <p id="finished_projects">Finished Projects:
	<ul class="projects">
	  <li><a href="http://www.aimeewilder.com">www.aimeewilder.com</a></li>
	  <li><a href="http://www.healingcirclemassage.com">www.healingcirclemassage.com</a></li>
	  <li><a href="http://www.healingcirclenaturalhealth.com">www.healingcirclenaturalhealth.com</a></li>
	</ul>
      </p>
    </div>
    <div id="personality">Personality: Dreamer, lover, inspiration.
    </div>
    <div id="hobbies">Hobbies: Novel writing, game design, playing Go, coding...for fun.
    </div>
  </div>
  <div id="laura">
    <div id="mug_shot">
      <img id="laura_image" src="/media/images/laura.JPG" />
    </div>
    <div id="personal_info">
      <p id="name">Name: Laura</p>
      <p id="contact_email">Email: laura@emlprime.com</p>
      <p id="favorite_bribe">Favorite Bribe: Pepperoni Pizza</p>
    </div>
    <div id="experience">
      <p id="languages">Languages: Python, HTML, CSS, Javascript</p>
      <p id="skills">Skills: Testing, Graphic Design, Billing.</p>
      <p id="finished_projects">Finished Projects:
	<ul class="projects">
	  <li><a href="www.freetruthordare.com"> www.freetruthordare.com</a></li>
	  <li><a href="www.somethingclickedphotography.com"> www.somethingclickedphotography.com</a></li>
	</ul>
      </p>
    </div>
    <div id="personality">
      Personality: Compulsive finisher, organizer.
    </div>
    <div id="hobbies">
      Hobbies: Running, coding, reading Christopher Moore.
    </div>
  </div>
</div>

{% endblock %}
