{% extends "work_section.html" %}

{% block content %}
<p id="scrum_intro">We use the scrum project management system to manage our projects.  To learn about scrum and how it helps us deliver your project on time and on budget, click the <a href="/work/sample_workflow/">'Scrum'</a> link.  To see a list of our rates and services, click the <a href="/work/rates/">'Rates'</a> link.  If you are ready to submit a project idea to us, fill out the form below, and we will review the project and help you begin making the backlog of features you want.</p>
<div id="project_form_container">
<form method="post" id="project_form" action="/project/create/">
  {{ form.as_p }}
  <p><input id="project_submit" type="image" src="/media/images/submit.png" alt="submit" class="submit" />  </p>
</form>
</div>

<div class="corner grid_2 prefix_7">
<a href="/work/sample_workflow/"><img src="/media/images/scrum_corner.png" id="scrum_corner" /></a>
</div>
<div class="corner grid_2 prefix_7">
<a href="/work/rates/"><img src="/media/images/rates_corner.png" id="rates_corner" /></a>
</div>
{% endblock %}
