{% extends "base.html" %}

{% load common_tags %}

{% block left_navigation %}
<div class="grid_1 navigation alpha">
{% tab "home" "/" "first" %} 
</div>
<div class="grid_1 navigation">
{% tab "work" "/work/" "second" %}
</div>
{% endblock %}

{% block right_navigation %}
<div class="grid_1 navigation">
{% tab "us" "/us/" "third" %} 
</div>
<div class="grid_1 navigation omega">
{% tab "play" "/play/" "fourth" %} 
</div>
{% endblock %}


{% block content %}
<p id="scrum_intro">Here's a simple chart describing our scrum workflow.  Click the chart for a more detailed flow chart.  If you are ready to submit a project idea to us, fill out the form below, and we will review the project and help you begin making the backlog of features you want.</p>
<a href="/work/sample_workflow/">
  <div id="cycle">
	<div id="initial_conversation">
      <p>You present your idea to us.  We work with you to make a backlog of all the features you want.</p>
	</div>
	<img src="/media/images/arrow_top.png" class="arrow" id="arrow_top" />
	<div id="sprint_cycle">
      <p>You decide which features are most important to you right away.  We make a two- or four-week cycle, during which we implement those features.</p>
	</div>
	<img src="/media/images/arrow_right.png" class="arrow" id="arrow_right" />
	<div id="approval_cycle">
      <p>You review our work and check to see that each feature is implemented the way you want it.  We get paid, and we work with you to choose the features for the next sprint.</p>
	</div>
	<img src="/media/images/arrow_left.png" class="arrow" id="arrow_left" />
  </div>
</a>
<div id="project_form_container">
<form method="post" id="project_form" action="/project/create/">
  {{ form.as_p }}
  <p><input id="project_submit" type="image" src="/media/images/submit.png" alt="submit" />  </p>
</form>
</div>
{% endblock %}
