{% extends "base.html" %}

{% block content %}

<div class="grid_8 prefix_2">

  <p class="help_text">Check out these pages to learn how our rates and scrum-based workflow for web development projects ensure that your project will be done on time and on budget.</p>

  <a href="/work/rates/"><img src="/media/images/comic_work_rates.gif" alt=" " /></a><a href="/work/sample_workflow/"><img src="/media/images/comic_work_workflow.gif" alt=" " /></a><img src="/media/images/comic_work_bookd.gif" alt=" " />

</div>

<div class="clear">&nbsp;</div>

<div class="grid_8 prefix_2" id="project_form_container">

  <p class="help_text">If you are interested in having us do a web project for you, please fill in the form below with your name, email address, and a description of your project.  Click the submit button to email it to us, and we'll make a plan to bring your project to life.</p>

  <img src="/media/images/comic_project_form.gif" alt=" " />

  <form method="post" id="project_form" action="/project/create/">
    <p>{{ form.name }}</p>
    <p>{{ form.description }}</p>
    <p>{{ form.email }}</p>
    <p><input id="project_submit" type="image" src="/media/images/submit.png" alt="submit" class="submit" /></p>
  </form>

</div>

<div class="clear">&nbsp;</div>

{% endblock %}
